<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pharmacy Management</title>
    <!-- meta tags --<>
    <meta charset="UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <body style="background-color:rgb(168, 164, 166);"></body>
    </br></br></br>
        <h1 class="text-center"  style="background-color:rgb(143, 64, 71);">PHARMACY MANAGEMENT</h1>
	</br>
	<form action="/add" method="post">
	</br></br>
	<h3><button type="submit"  class="btn btn-primary btn-block btn-large">ADD INVENTORY</button></h3></form>
	
	<form action="/billing" method="post">
	</br></br>
	<h1><button type="submit" class="btn btn-primary btn-block btn-large">BILLING</button></h1></form>

    <form action="/sales-report" method="post">
	</br></br>
	<h1><button type="submit" class="btn btn-primary btn-block btn-large">SALES REPORT</button></h1></form>

    <br><br>
    <form action="/search_" method="post">
	<h1><button type="submit" class="btn btn-primary btn-block btn-large">SEARCH RECEIPT</button></h1></form>
</div>
</body>
</html>